/**lists**/
/**extends**/
.index__body__grid-container .main__section__hero div div img, .qs__main__grid-container div img, .exp__main__acordeon div div div div img {
  border: solid 2px;
  box-shadow: 0px 0px 20px 1px #0d547a;
  margin: 5px; }

.index__body__grid-container .main__section__noticias, .index__body__grid-container .main__section__proximoevento, .main__section__merch .card {
  border: dashed 2px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 20px 1px #101b21;
  padding: 10px; }

/**mixins**/
* {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none; }

html {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  justify-content: row;
  align-items: row;
  min-height: 100%;
  background-color: antiquewhite; }

header {
  background-color: #ced8e0;
  margin: 0px;
  padding: 0px;
  height: fit-content; }
  header div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Secular One', sans-serif;
    text-align: center;
    height: fit-content; }
    header div .header__h {
      color: #293845;
      font-size: 55px;
      width: 40%;
      padding: 0px 30px 0px 30px;
      text-shadow: 1px 1px 3px black; }
    header div .header__img {
      width: 100%;
      max-width: 215px; }
  header nav {
    background-color: #ced8e0;
    height: fit-content; }
    header nav .nav__iconoburguer {
      position: absolute;
      top: 0.3rem;
      left: 1rem;
      cursor: pointer;
      width: 35px;
      z-index: 1;
      display: none; }
      header nav .nav__iconoburguer img {
        max-width: 100%; }
    header nav .nav__input {
      display: none; }
    header nav .nav__input:checked + .nav {
      transform: translateX(0); }
    header nav .nav {
      justify-content: space-evenly; }

main {
  padding: 1%;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

/**configuracion index**/
.index__body__grid-container {
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto; }
  .index__body__grid-container .main__section__hero {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4; }
    .index__body__grid-container .main__section__hero h3 {
      font-size: 2.5rem;
      text-align: center; }
    .index__body__grid-container .main__section__hero div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: row; }
      .index__body__grid-container .main__section__hero div p {
        font-size: 1.5rem;
        text-align: center;
        padding-top: 2rem; }
      .index__body__grid-container .main__section__hero div div img {
        width: 450px;
        margin: 10px; }
  .index__body__grid-container .main__section__noticias {
    padding: 5%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 2;
    height: fit-content;
    margin-top: auto;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: row; }
    .index__body__grid-container .main__section__noticias h4 {
      text-align: center;
      font-size: 2rem; }
    .index__body__grid-container .main__section__noticias div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: row;
      height: 100px; }
      .index__body__grid-container .main__section__noticias div h5 {
        font-size: 1.5rem; }
      .index__body__grid-container .main__section__noticias div p {
        font-size: 1rem; }
  .index__body__grid-container .main__section__proximoevento {
    padding: 5%;
    grid-column-start: 2;
    grid-column-end: 4; }
    .index__body__grid-container .main__section__proximoevento h4 {
      font-size: 2rem;
      text-align: center; }
    .index__body__grid-container .main__section__proximoevento .main__section__proximoevento__div {
      display: flex;
      flex-direction: row;
      justify-content: row;
      align-items: center; }
      .index__body__grid-container .main__section__proximoevento .main__section__proximoevento__div div {
        display: flex;
        flex-direction: column;
        justify-content: row;
        align-items: row; }
        .index__body__grid-container .main__section__proximoevento .main__section__proximoevento__div div h5 {
          font-size: 1.5rem;
          text-align: center; }
        .index__body__grid-container .main__section__proximoevento .main__section__proximoevento__div div p {
          padding: 1%;
          font-size: 1rem; }
      .index__body__grid-container .main__section__proximoevento .main__section__proximoevento__div div img {
        height: 150px; }

/**configuracion contacto**/
.main__contacto {
  padding: 20px; }
  .main__contacto form {
    font-size: 20px; }
    .main__contacto form div {
      width: 100%;
      height: 100%;
      justify-content: space-between;
      padding: 10px; }
      .main__contacto form div label {
        padding-top: 5px; }
      .main__contacto form div input {
        width: 100%; }
    .main__contacto form .form__div__buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      .main__contacto form .form__div__buttons input {
        width: 150px;
        border-radius: 10px;
        background-color: #ced8e0; }

/**configuracion quienes somos**/
.qs__main__grid-container {
  padding: 2%;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: auto repeat(6, auto);
  grid-row-gap: 10px;
  grid-template-areas: "titulo titulo titulo" "desc1 desc1 foto1" "foto2 desc2 desc2" "desc3 desc3 foto3" "foto4 desc4 desc4" "desc5 desc5 foto5" "foto6 desc6 desc6"; }
  .qs__main__grid-container .main__section__hero__qs {
    display: flex;
    flex-direction: column;
    justify-content: row;
    align-items: center;
    text-align: center; }
  .qs__main__grid-container div {
    display: flex;
    flex-direction: column;
    justify-content: row;
    align-items: center; }
    .qs__main__grid-container div img {
      max-height: 300px;
      height: 100%; }
  .qs__main__grid-container h5 {
    font-size: 2rem; }
  .qs__main__grid-container p {
    font-size: 1.3rem; }
  .qs__main__grid-container .main__section__hero__qs {
    grid-area: titulo; }
  .qs__main__grid-container .main__section__div__texto1 {
    grid-area: desc1; }
  .qs__main__grid-container .main__section__div__foto1 {
    grid-area: foto1; }
  .qs__main__grid-container .main__section__div__texto2 {
    grid-area: desc2; }
  .qs__main__grid-container .main__section__div__foto2 {
    grid-area: foto2; }
  .qs__main__grid-container .main__section__div__texto3 {
    grid-area: desc3; }
  .qs__main__grid-container .main__section__div__foto3 {
    grid-area: foto3; }
  .qs__main__grid-container .main__section__div__texto4 {
    grid-area: desc4; }
  .qs__main__grid-container .main__section__div__foto4 {
    grid-area: foto4; }
  .qs__main__grid-container .main__section__div__texto5 {
    grid-area: desc5; }
  .qs__main__grid-container .main__section__div__foto5 {
    grid-area: foto5;
    border-bottom: dashed #3E5B5F; }
  .qs__main__grid-container .main__section__div__texto6 {
    grid-area: desc6; }
  .qs__main__grid-container .main__section__div__foto6 {
    grid-area: foto6; }
  .qs__main__grid-container .main__section__div__foto {
    border-bottom: dashed #3E5B5F;
    padding-bottom: 5px; }
  .qs__main__grid-container .main__section__div__texto {
    border-bottom: dashed #3E5B5F;
    border-top: dashed #3E5B5F; }

/**configuracion experiencias**/
.exp__main__acordeon {
  margin: 2%; }
  .exp__main__acordeon div div h2 button {
    background-color: #293845;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.5);
    margin: 5px; }
  .exp__main__acordeon div div div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .exp__main__acordeon div div div div img {
      max-height: 650px;
      max-width: 90%;
      margin: 20px; }

/**configuracion merch**/
.main__section__merch {
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  grid-template-rows: repeat(auto);
  justify-content: center; }
  .main__section__merch .card {
    transition: 0.5s;
    object-fit: cover;
    margin: 10px;
    padding: 20px; }
    .main__section__merch .card .card-img-top {
      height: 200px;
      width: auto;
      object-fit: cover; }
    .main__section__merch .card div button {
      position: absolute;
      left: 100px;
      right: 100px;
      bottom: 15px; }
  .main__section__merch .card:hover {
    scale: 1.1; }

footer {
  background-color: #ced8e0;
  text-decoration-color: black;
  margin: 0px;
  margin-top: auto;
  padding: 0px;
  width: 100%; }
  footer div ul li {
    margin-left: 5px;
    margin-right: 5px; }
  footer .footer__div__pie {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding-top: 10px;
    padding-bottom: 10px; }
    footer .footer__div__pie div a img {
      height: 35px;
      padding-left: 10px; }
  footer div p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    margin-bottom: 0px; }

/**mediaqueries tablet**/
@media screen and (max-width: 930px) {
  header div .header__h {
    font-size: 40px; }
  .index__body__grid-container {
    padding: 2%;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto; }
    .index__body__grid-container .main__section__hero h3 {
      font-size: 2rem; }
    .index__body__grid-container .main__section__hero div p {
      padding: 2%;
      max-width: 50%;
      font-size: 1.2rem; }
    .index__body__grid-container .main__section__hero div div {
      padding: 2%; }
      .index__body__grid-container .main__section__hero div div img {
        max-width: 100%;
        height: max-content; }
    .index__body__grid-container .main__section__noticias div {
      height: auto; }
      .index__body__grid-container .main__section__noticias div h5 {
        font-size: 1.2rem; }
      .index__body__grid-container .main__section__noticias div p {
        font-size: 0.8rem; }
    .index__body__grid-container .main__section__proximoevento {
      grid-column-start: 2;
      grid-column-end: 3; }
      .index__body__grid-container .main__section__proximoevento h4 {
        font-size: 1.5rem; }
      .index__body__grid-container .main__section__proximoevento .main__section__proximoevento__div {
        display: flex;
        flex-direction: column;
        justify-content: row;
        align-items: row; }
        .index__body__grid-container .main__section__proximoevento .main__section__proximoevento__div div h5 {
          font-size: 1.2rem; }
        .index__body__grid-container .main__section__proximoevento .main__section__proximoevento__div div p {
          font-size: 0.8rem; }
        .index__body__grid-container .main__section__proximoevento .main__section__proximoevento__div img {
          height: 75px; }
  .qs__main__grid-container h5 {
    font-size: 1.3rem; }
  .qs__main__grid-container p {
    font-size: 0.8rem;
    width: 90%; }
  .qs__main__grid-container div img {
    margin: 5px;
    max-height: 180px;
    width: fit-content; }
  footer .footer__div__pie div a img {
    height: 25px;
    padding-left: 5px; } }

/**mediaqueries mobile**/
@media screen and (max-width: 450px) {
  header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: row;
    align-items: row; }
    header div {
      display: flex;
      flex-direction: column;
      justify-content: row;
      align-items: center;
      width: 100%;
      padding-top: 5%; }
      header div .header__h {
        font-size: 25px;
        width: 65%; }
      header div .header__img {
        width: 120px;
        margin: 1rem; }
    header nav {
      width: 1px;
      position: relative;
      padding-top: 3rem; }
      header nav .nav__iconoburguer {
        display: inline; }
        header nav .nav__iconoburguer img {
          display: flex; }
      header nav .nav {
        justify-content: left;
        transition: 0.5s;
        transform: translateX(-140px); }
  .index__body__grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto; }
    .index__body__grid-container .main__section__hero div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .index__body__grid-container .main__section__hero div p {
        max-width: 95%;
        font-size: 1rem; }
      .index__body__grid-container .main__section__hero div div {
        width: 95%; }
    .index__body__grid-container .main__section__noticias {
      grid-column-start: none;
      grid-column-end: none;
      grid-row-start: none;
      grid-row-end: none;
      display: flex;
      flex-direction: column;
      justify-content: row;
      align-items: row; }
      .index__body__grid-container .main__section__noticias div h5 {
        font-size: 1rem; }
      .index__body__grid-container .main__section__noticias div p {
        font-size: 0.8rem; }
    .index__body__grid-container .main__section__proximoevento {
      grid-column-start: none;
      grid-column-end: none; }
      .index__body__grid-container .main__section__proximoevento .main__section__proximoevento__div {
        display: flex;
        flex-direction: row;
        justify-content: row;
        align-items: row; }
  .qs__main__grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(13, auto);
    grid-row-gap: 5px;
    grid-template-areas: "titulo" "desc1" "foto1" "desc2" "foto2" "desc3" "foto3" "desc4" "foto4" "desc5" "foto5" "desc6" "foto6"; }
    .qs__main__grid-container h5 {
      font-size: 1.3rem; }
    .qs__main__grid-container p {
      font-size: 0.8rem;
      width: 90%; }
    .qs__main__grid-container div img {
      max-height: 200px;
      height: fit-content; }
    .qs__main__grid-container .main__section__div__texto {
      border-bottom: none; }
  footer .footer__div__pie {
    display: flex;
    flex-direction: column;
    justify-content: row;
    align-items: center; } }
