/*-----RESET-----*/
* {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


/*-----header-----*/

header {
    background-color: #ced8e0;
    margin: 0px;
    padding: 0px;
    height: fit-content;
}

header section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Secular One', sans-serif;
    text-align: center;
    height: fit-content;
}

.header__h {
    color: #293845;
    font-size: 55px;
    width: 40%;
    padding: 0px 30px 0px 30px;
    text-shadow: 1px 1px 3px black;
}

.header__img {
    width: 17%;
    max-width: 215px;
}


/**nav**/

nav {
    background-color: #ced8e0;
    height: fit-content;
}



/**main - index**/

main {
    padding: 5px;
    width: 100%;
    background-color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/**Configuracion de Grid en index*/

.index__body__grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

/**index - section hero**/

.main__section__hero {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
}

.main__section__hero h3 {
    font-size: 2.5rem;
    text-align: center;
}

.main__section__hero div {
    display: flex;
    justify-content: space-between;
}

.main__section__hero div p {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 2rem;
}

.main__section__hero div img {
    width: 450px;
    margin: 10px;
}



/**index - noticias**/


.main__section__noticias {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.main__section__noticias h4 {
    text-align: center;
    font-size: 2rem;
}

.main__section__noticias div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100px;
}

.main__section__noticias div h5 {
    font-size: 1.5rem;
}

.main__section__noticias div p {
    font-size: 1rem;
}


/**index - Proximo evento**/

.main__section__proximoevento {
    grid-column-start: 2;
    grid-column-end: 4;
}

.main__section__proximoevento h4 {
    font-size: 2rem;
    text-align: center;
}

.main__section__proximoevento__div {
    display: flex;
    align-items: center;
}

.main__section__proximoevento__div div {
    display: flex;
    flex-direction: column;
}

.main__section__proximoevento__div div h5 {
    font-size: 1.5rem;
    text-align: center;
}

.main__section__proximoevento__div div p {
    font-size: 1rem
}

.main__section__proximoevento__div img {
    height: 150px;
}




/**main - contacto**/

.main__contacto {
    padding: 20px;
}

.formulario {
    font-size: 20px;
}

.formulario div {
    width: 100%;
    height: 40px;
    justify-content: space-between;
    padding: 10px
}

.formulario div label {
    padding-top: 5px;
}

.formulario div input {
    width: 1200px;

}

/**configuracion grid - quienes somos**/

.qs__main__grid-container {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: auto repeat(6, auto);
    grid-row-gap: 10px;
    grid-template-areas:
        "titulo titulo titulo"
        "desc1 desc1 foto1"
        "foto2 desc2 desc2"
        "desc3 desc3 foto3"
        "foto4 desc4 desc4"
        "desc5 desc5 foto5"
        "foto6 desc6 desc6";
}

.main__section__hero__qs {
    grid-area: titulo;
}

.main__section__div__texto1 {
    grid-area: desc1;
}

.main__section__div__foto1 {
    grid-area: foto1;
}

.main__section__div__texto2 {
    grid-area: desc2;
}

.main__section__div__foto2 {
    grid-area: foto2;
}

.main__section__div__texto3 {
    grid-area: desc3;
}

.main__section__div__foto3 {
    grid-area: foto3;
}

.main__section__div__texto4 {
    grid-area: desc4;
}

.main__section__div__foto4 {
    grid-area: foto4;
}

.main__section__div__texto5 {
    grid-area: desc5;
}

.main__section__div__foto5 {
    grid-area: foto5;
    border-bottom: dashed #3E5B5F;
}

.main__section__div__texto6 {
    grid-area: desc6;
}

.main__section__div__foto6 {
    grid-area: foto6;
}

.main__section__div__foto{
    border-bottom: dashed #3E5B5F;
    padding-bottom: 5px;
}

.main__section__div__texto{
    border-bottom: dashed #3E5B5F;
    border-top: dashed #3E5B5F;
}
/**main - quienes-somos**/

.main__section__hero__qs {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

.qs__main__grid-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qs__main__grid-container div img {
    max-height: 300px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.qs__main__grid-container h5 {
    font-size: 2rem;
}

.qs__main__grid-container p {
    font-size: 1.3rem;
}

/**main - experiencias**/


.main_section_experiencias h4 {
    font-size: 2rem;
    text-align: center;
}
.main_section_experiencias div p button{
    background-color: black;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.5);
}

.card-body{
    border: dotted #293845;
}
.main_section_experiencias_img {
    width: 100%;
    padding: 10px;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7))
}

/**main - merch**/

.main__section__merch{
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    grid-template-rows: repeat(auto);
    justify-content: center;
}

.card{
    margin: 10px;
}

.card-img-top {
    height: 250px;
    width: auto;
    object-fit: cover;
}


/****footer***/

footer {
    background-color: #A19F9F;
    text-decoration-color: black;
    margin: 0px;
    padding: 0px;
    grid-area: footer;
}

.footer__div__pie {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer div div img {
    height: 35px;
    padding-left: 10px;
}

footer div p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    padding-top: 30px;
    padding-right: 10px;
}



/** mediaqueries 930px **/

@media screen and (max-width: 930px) {

/********mediaqueries header**********/

    .header__h {
        font-size: 40px;
    }


/********mediaqueries index body**********/

    .index__body__grid-container {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .main__section__hero h3 {
        font-size: 2rem;
    }

    .main__section__hero div p {
        font-size: 1.2rem;
        padding-top: 0rem;
    }

    .main__section__hero div img {
        object-fit: scale-down;
        width: 250px;
        height: auto;
    }

    .main__section__noticias div {
        height: auto;
    }

    .main__section__noticias div h5 {
        font-size: 1.2rem;
    }

    .main__section__noticias div p {
        font-size: 0.8rem;
    }

    .main__section__proximoevento {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .main__section__proximoevento__div {
        display: flex;
        flex-direction: column;
    }

    .main__section__proximoevento h4 {
        font-size: 1.5rem;
    }

    .main__section__proximoevento__div div h5 {
        font-size: 1.2rem;
    }

    .main__section__proximoevento__div div p {
        font-size: 0.6rem
    }

    .main__section__proximoevento__div img {
        height: 75px;
    }
/****************mediaqueries main qs****************/

.qs__main__grid-container h5 {
    font-size: 1.3rem;
    }

.qs__main__grid-container p {
    font-size: 0.8rem;
    width: 90%;
    }

    .qs__main__grid-container div img {
        max-height: 200px;
        height: fit-content;
    }

/********mediaqueries footer**********/

    footer div div img {
        height: 22px;
        padding-left: 2px;
    }
}


/** mediaqueries 450px **/


@media screen and (max-width: 450px) {
    header {
        display: flex;
        flex-direction: row-reverse;
    }

    .header__h {
        font-size: 25px;
        width: auto;
    }

    .header__img {
        width: 100px;
    }

    header nav {
        width: 210px;
    }

    header section {
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: center;
    }

    .index__body__grid-container {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .main__section__hero div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main__section__hero div p {
        font-size: 1rem;
    }

    .main__section__hero div img {
        width: 350px;
        object-fit: cover;
        padding: 5px;
    }

    .main__section__noticias {
        grid-column-start: none;
        grid-column-end: none;
        grid-row-start: none;
        grid-row-end: none;
        display: flex;
        flex-direction: column;
    }

    .main__section__noticias div h5 {
        font-size: 1rem;
    }

    .main__section__noticias div p {
        font-size: 0.6rem;
    }

    .main__section__proximoevento {
        grid-column-start: none;
        grid-column-end: none;
    }
    .main__section__proximoevento__div{
        display: flex;
        flex-direction: row;
    }

/****************mediaqueries2 main qs****************/

.qs__main__grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(13, auto);
    grid-row-gap: 5px;
    grid-template-areas:
        "titulo"
        "desc1"
        "foto1"
        "desc2"
        "foto2"
        "desc3"
        "foto3"
        "desc4"
        "foto4"
        "desc5"
        "foto5"
        "desc6"
        "foto6";
}
.qs__main__grid-container h5 {
    font-size: 1.3rem;
    }

.qs__main__grid-container p {
    font-size: 0.8rem;
    width: 90%;
    }

    .qs__main__grid-container div img {
        max-height: 200px;
        height: fit-content;
    }

    .main__section__div__texto{
        border-bottom: none;
    }
}