* {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    height: 100%;
}
body {
    @include flex(flex,column,row,row);
    min-height: 100%;
    background-color: nth($color, 2);
}