/**mediaqueries tablet**/

@media screen and (max-width: nth($screendim, 1)) {
    header {
        div {
            .header__h {
                font-size: 40px;
            }
        }
    }

    .index__body__grid-container {
        padding: 2%;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;

        .main__section__hero {
            h3 {
                font-size: 2rem;
            }

            div {
                p {
                    padding: 2%;
                    max-width: 50%;
                    font-size: 1.2rem;
                }

                div{
                    padding: 2%;
                    img {
                        max-width: 100%;
                        height: max-content;
                }
            }
            }
        }

        .main__section__noticias {
            div {
                height: auto;

                h5 {
                    font-size: 1.2rem;
                }

                p {
                    font-size: 0.8rem;
                }
            }
        }

        .main__section__proximoevento {
            grid-column-start: 2;
            grid-column-end: 3;

            h4 {
                font-size: 1.5rem;
            }

            .main__section__proximoevento__div {
                @include flex(flex,column,row,row);
                div {
                    h5 {
                        font-size: 1.2rem;
                    }

                    p {
                        font-size: 0.8rem
                    }
                }

                img {
                    height: 75px;
                }
            }
        }
    }

    .qs__main__grid-container {
        h5 {
            font-size: 1.3rem;
        }

        p {
            font-size: 0.8rem;
            width: 90%;
        }

        div {
            img {
                margin: 5px;
                max-height: 180px;
                width: fit-content;   
            }
        }
    }

    footer {
        .footer__div__pie{
            div {
                a{
                    img{
                        height: 25px;
                        padding-left: 5px;
                    }
                }
            }
        }
    }
}

/**mediaqueries mobile**/

@media screen and (max-width: nth($screendim, 2)) {
    header {
        @include flex(flex,row-reverse,row,row);
        div {
            @include flex(flex,column,row,center);
            width: 100%;
            padding-top: 5%;

            .header__h {
                font-size: 25px;
                width: 65%;
                
            }

            .header__img {
                width: 120px;
                margin: 1rem;
            }
        }

        nav {
            width: 1px;
            position: relative;
            padding-top: 3rem;
            .nav__iconoburguer{
                display: inline;
                img{
                    display: flex;
                }
            }
            .nav {
                justify-content: left;
                transition: 0.5s;
                transform: translateX(-140px);
            }
        }
    }

    .index__body__grid-container {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        .main__section__hero {
            div {
                @include flex(flex,column,center,center);
                p {
                    max-width: 95%;
                    font-size: 1rem;
                }
                div{
                    width: 95%;
                }
            }
        }

        .main__section__noticias {
            grid-column-start: none;
            grid-column-end: none;
            grid-row-start: none;
            grid-row-end: none;
            @include flex(flex,column,row,row);
            
            div {
                h5 {
                    font-size: 1rem;
                }

                p {
                    font-size: 0.8rem;
                }
            }
        }

        .main__section__proximoevento {
            grid-column-start: none;
            grid-column-end: none;

            .main__section__proximoevento__div {
                @include flex(flex,row,row,row)
            }
        }
    }

    .qs__main__grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(13, auto);
        grid-row-gap: 5px;
        grid-template-areas:
            "titulo"
            "desc1"
            "foto1"
            "desc2"
            "foto2"
            "desc3"
            "foto3"
            "desc4"
            "foto4"
            "desc5"
            "foto5"
            "desc6"
            "foto6";

        h5 {
            font-size: 1.3rem;
        }

        p {
            font-size: 0.8rem;
            width: 90%;
        }

        div {
            img {
                max-height: 200px;
                height: fit-content;
            }
        }

        .main__section__div__texto {
            border-bottom: none;
        }
    }

    footer {
        .footer__div__pie {
            @include flex(flex,column,row,center);
        }
    }
}